In [1]:
import numpy as np
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

In [2]:
myarray2=np.linspace(-8,8,13)

In [3]:
myarray2

array([-8.        , -6.66666667, -5.33333333, -4.        , -2.66666667,
       -1.33333333,  0.        ,  1.33333333,  2.66666667,  4.        ,
        5.33333333,  6.66666667,  8.        ])

In [4]:
df1 = pd.read_csv('test.csv')
df1.head()
#need to read in just the yprofile column, other things will stay the same

     0    1    2    3    4    5    6    7    8    9   10   11   12   y-local
0  0.0  0.0  4.0  5.0  5.0  7.0  4.0  1.0  0.0  0.0  0.0  0.0  0.0 -5.906050
1  0.0  0.0  0.0  0.0  0.0  1.0  4.0  0.0  0.0  0.0  0.0  0.0  0.0  8.082580
2  0.0  0.0  0.0  0.0  3.0  5.0  3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.127132
3  0.0  0.0  1.0  1.0  3.0  3.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0 -6.684330
4  0.0  0.0  0.0  0.0  0.0  6.0  9.0  7.0  0.0  0.0  0.0  0.0  0.0 -2.855120

In [5]:
def replace(row):
  for i, item in enumerate(row):
     if row[i] >= -8 and row[i] <= -6.67:
        row[i] = 0
     elif ( row[i] >= -6.67 and row[i] <= -5.33):
        row[i] = 1 
     elif ( row[i] > -5.33 and row[i] <= -4):
        row[i] = 2
     elif ( row[i] > -4 and row[i] <= -2.67):
        row[i] = 3 
     elif ( row[i] > -2.67 and row[i] <= -1.33):
        row[i] = 4
     elif ( row[i] > -1.33 and row[i] <= 0):
        row[i] = 5 
     elif ( row[i] > 0 and row[i] <= 1.33):
        row[i] = 6
     elif ( row[i] > 1.33 and row[i] <= 2.67):
        row[i] = 7 
     elif ( row[i] > 2.67 and row[i] <= 4):
        row[i] = 8
     elif ( row[i] > 4 and row[i] <= 5.33):
        row[i] = 9 
     elif ( row[i] > 5.33 and row[i] <= 6.67):
        row[i] = 10
     else:
        row[i] = 11
  return row

In [6]:
df1['y-local'].to_csv('y-localBeforeConverting.csv', index=None)

In [7]:
df2 = pd.read_csv('y-localBeforeConverting.csv')
df2.head()

    y-local
0 -5.906050
1  8.082580
2  0.127132
3 -6.684330
4 -2.855120

In [8]:
df3 = df2.progress_apply(lambda row : replace(row)) 
df3.head()

100%|██████████| 1/1 [00:00<00:00, 248.63it/s]

   y-local
0      1.0
1     11.0
2      6.0
3      0.0
4      3.0

In [9]:
df3.to_csv('afterconvertingylocal.csv', index=False)

In [10]:
#now replace original set with the new y-local
df4 = pd.read_csv('test.csv')
df4.head()

     0    1    2    3    4    5    6    7    8    9   10   11   12   y-local
0  0.0  0.0  4.0  5.0  5.0  7.0  4.0  1.0  0.0  0.0  0.0  0.0  0.0 -5.906050
1  0.0  0.0  0.0  0.0  0.0  1.0  4.0  0.0  0.0  0.0  0.0  0.0  0.0  8.082580
2  0.0  0.0  0.0  0.0  3.0  5.0  3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.127132
3  0.0  0.0  1.0  1.0  3.0  3.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0 -6.684330
4  0.0  0.0  0.0  0.0  0.0  6.0  9.0  7.0  0.0  0.0  0.0  0.0  0.0 -2.855120

In [11]:
df4.drop
df4.drop('y-local', axis=1, inplace=True)
df4.head()

     0    1    2    3    4    5    6    7    8    9   10   11   12
0  0.0  0.0  4.0  5.0  5.0  7.0  4.0  1.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  1.0  4.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  3.0  5.0  3.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  1.0  1.0  3.0  3.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  6.0  9.0  7.0  0.0  0.0  0.0  0.0  0.0

In [12]:
df5=pd.read_csv('afterconvertingylocal.csv')
df5.head()

   y-local
0      1.0
1     11.0
2      6.0
3      0.0
4      3.0

In [13]:
mergePD = pd.concat([df4,df5], axis = 1, join="inner")
mergePD.to_csv('TestSetWithLabeledYLocal.csv',index=False)

In [14]:
mergePD

,0,1,2,3,4,5,6,7,8,9,10,11,12,y-local
0,0.0,0.0,4.0,5.0,5.0,7.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
2,0.0,0.0,0.0,0.0,3.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
3,0.0,0.0,1.0,1.0,3.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,6.0,9.0,7.0,0.0,0.0,0.0,0.0,0.0,3.0
5,0.0,0.0,0.0,0.0,0.0,7.0,19.0,10.0,0.0,0.0,0.0,0.0,0.0,7.0
6,0.0,0.0,4.0,9.0,9.0,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
7,3.0,3.0,4.0,11.0,8.0,6.0,5.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
9,0.0,0.0,5.0,5.0,6.0,6.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,8.0,8.0,8.0,7.0,4.0,0.0,0.0,0.0,0.0,2.0
11,0.0,0.0,0.0,1.0,3.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
12,0.0,0.0,0.0,2.0,2.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
13,0.0,0.0,1.0,2.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
14,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
15,0.0,0.0,1.0,3.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,1.0,4.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
17,0.0,0.0,0.0,3.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
18,0.0,0.0,0.0,1.0,3.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
19,0.0,0.0,0.0,0.0,0.0,2.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
20,0.0,0.0,0.0,0.0,5.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
21,0.0,0.0,0.0,0.0,3.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
22,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
23,0.0,0.0,3.0,1.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
24,0.0,0.0,1.0,3.0,2.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
25,0.0,0.0,0.0,0.0,17.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
26,0.0,0.0,0.0,1.0,2.0,3.0,2.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
28,0.0,0.0,0.0,1.0,3.0,3.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
29,0.0,0.0,9.0,15.0,12.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
30,0.0,0.0,0.0,0.0,0.0,6.0,10.0,4.0,0.0,0.0,0.0,0.0,0.0,7.0
31,0.0,0.0,0.0,0.0,0.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
32,0.0,0.0,0.0,6.0,10.0,10.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0
33,0.0,0.0,5.0,3.0,5.0,3.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
34,0.0,0.0,0.0,1.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
35,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
36,0.0,0.0,0.0,0.0,0.0,11.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
37,0.0,0.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
38,0.0,0.0,10.0,12.0,11.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0